﻿
@{
    ViewBag.Title = "Index";
}

@if (TempData["greskaStanje"] != null)
{
    <div class="alert alert-danger">
        @TempData["greskaStanje"]
    </div>
}
@if (TempData["uspeh"] != null)
{
    <div class="alert alert-success">
        @TempData["uspeh"]
    </div>
}

<br />
<br />

<div class="container" style="padding-left:0px;">
    <form action="@Url.Action("Iznajmi", "Iznajmljivanje")" method="post">
        <div class="row">
            <div class="col-6">
                <center>
                    <h3>Izaberite odgovarajuce skije</h3>
                    <br />
                    <select class="form-control" id="skije" name="skije">
                        <option value="0">Izaberi skije</option>
                        @foreach (ProjekatIznajmljivanjeSkija.Models.entity.Proizvod s in ViewBag.skije)
                        {
                            <option value="@s.ID"> Marka:@s.Marka -- Velicina:@s.Velicina</option>
                        }
                        <option value="0">Nista od navedenog</option>
                    </select>
                </center>
                <br />

            </div>
            <div class="col-6">
                <center>
                    <h3>Izaberite odgovarajucu opremu</h3>
                    <br />

                    <select class="form-control" id="oprema" name="oprema">
                        <option value="0">Izaberi opremu</option>
                        @foreach (ProjekatIznajmljivanjeSkija.Models.entity.Proizvod o in ViewBag.oprema)
                        {
                            <option value="@o.ID"> Marka:@o.Marka -- Velicina:@o.Velicina</option>
                        }
                        <option value="0">Nista od navedenog</option>
                    </select>
                </center>
            </div>
        </div>
        <br />
        <br />
        <br />
        <center>
            <button type="submit" class="btn btn-primary btn-lg">Iznajmi</button>
        </center>
    </form>
</div>




