﻿@model ProjekatIznajmljivanjeSkija.Models.entity.Racun

@{
    ViewBag.Title = "Racun";
}
@if (TempData["UnosBroj"] != null)
{
    <div class="alert alert-danger">
        @TempData["UnosBroj"]
    </div>
}

@if (TempData["storniranje"] != null)
{
    <div class="alert alert-success">
        @TempData["storniranje"]
    </div>
}

@using (Html.BeginForm("PretraziRacun", "Racun"))
{
    @Html.AntiForgeryToken()
    <div style="margin-top:20px;">


        <fieldset>
            <legend><strong>Pretraga racuna</strong></legend>
            <h5></h5>
            @Html.Label("Unesite sifru racuna: ")
            <input type="text" id="txtsearch" name="txtsearch" placeholder="npr '12'" style="width:200px;margin-left:21px;" />
            <button type="submit" id="search" name="button" value="search">Potvrdi</button>
            <button type="submit" id="reset" name="button" value="reset">Resetuj</button>



        </fieldset>




    </div>
}

@if (ViewBag.racun != "")
{
    @Html.Action("RacunPartial", "Racun", Model);
}


