﻿@model ProjekatIznajmljivanjeSkija.Models.entity.Racun
    <form method="post" action="@Url.Action("Storniranje", "Racun")">
        <div>
            <h4>Racun</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Datum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Datum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vreme)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vreme)
                </dd>

                <dt>
                    @Html.DisplayName("Ukupna vrednost")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UkupnaVrednost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Storniran)
                </dt>

                <dd>
                    @if (Model.Storniran == 0)
                    {
                        @Html.DisplayName("Aktivan");
                    }
                    else
                    {
                        @Html.DisplayName("Storniran");
                    }
                </dd>

            </dl>
        </div>
        @if (Model.Storniran == 0)
        {
        <button class="btn btn-primary" type="submit" id="storniranje" name="storniranje">Storniraj</button>
        }
        else
        {
            <p style="color:red"><strong>Ovaj racun je storniran!</strong></p>
        }
        <input type="text" value="@Model.ID" name="id" id="id" style="visibility:hidden"/>


    </form>
